<div class="login-box">
    <h1>Login</h1>
    <div>
        {{status}}
    </div>        

    <form method="post">

        <div class="inputBox">
            <input type="text" class="inputUser" name="login" placeholder="login" id="login" required autofocus>
            <label for="usuario" class="inputLabel">Usuário</label>
        </div>
        <br><br>
        <div class="inputBox">
            <input type="password" class="inputUser" name="senha" id="senha" placeholder="**********" required>
            <label for="senha" class="inputLabel">Senha</label>
        </div>
        <div class="login-button">
            <button type="submit" name="submit" id="submit" >Entrar</button>
        </div>

    </form>

</div>