<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Orçamento</title>
        <link rel="stylesheet" href="css/pages.css">
        <link rel="stylesheet" href="css/budget.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script defer src="js/bootstrap.bundle.min.js"></script>

        <!-- <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    </head>
    <body background="concrete.jpg">
        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a href="http://localhost/pi3/" class="navbar-brand">Projeto
                    Integrador 2024</a>
                <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item " style="width:max-content">
                            <a
                                class="nav-link nav-justified nav-divider active"
                                href="http://localhost/pi3/user">Página
                                Inicial</a>
                        </li><li class="nav-item " style="width:max-content">
                            <a
                                class="nav-link nav-justified nav-divider active"
                                href="http://localhost/pi3/user/service">Serviços</a>
                        </li><li class="nav-item " style="width:max-content">
                            <a
                                class="nav-link nav-justified nav-divider active"
                                href="http://localhost/pi3/user/client">Clientes</a>
                        </li><li class="nav-item " style="width:max-content">
                            <a
                                class="nav-link nav-justified nav-divider active text-danger"
                                href="http://localhost/pi3/user/budget">Orçamentos</a>
                        </li>
                    </ul>

                    <div class="ml-auto">
                        <a href="http://localhost/pi3/logout">
                            <button type="button" class=" sair">SAIR</button>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        
        <div class="container base mt-1">
            <h2>Orçamento</h2>

            <!-- Div para selecionar cliente -->
            <div class="cliente-infos">
                <h4>Cliente</h4>
                <select class="form-control mb-2">
                    <option value>Selecione um cliente</option>
                    <option value="cliente1">Cliente 1</option>
                    <option value="cliente2">Cliente 2</option>
                    <option value="cliente3">Cliente 3</option>
                    <!-- Adicione mais opções de clientes aqui -->
                </select>
                <!-- Campos adicionais para exibir informações do cliente selecionado -->
                <p><strong>Endereço:</strong> <input type="text"
                        id="endereco"></p>
                <p><strong>Estado:</strong> <input type="text" id="estado"></p>
                <p><strong>Cidade:</strong> <input type="text" id="cidade"></p>
                <p><strong>CEP:</strong> <input type="text" id="cep"></p>
                <p><strong>Telefone:</strong> <input type="text"
                        id="telefone"></p>

                <select class="form-control mb-2">
                    <option value>Selecione um serviço</option>
                    <option value="servico1">Serviço 1</option>
                    <option value="servico2">Serviço 2</option>
                    <option value="servico3">Serviço 3</option>
                    <!-- Adicione mais opções de serviços aqui -->
                </select>
                <div class="botao">
                    <button type="button" class="btn btn-primary">Adicionar</button>
                </div>
            </div>

            <!-- Lista de serviços adicionados -->
            <div id="lista-servicos" class="grid-container">
                <!-- Serviço 1 -->
                <div class="servico-adicionado grid-item">
                    <p><strong>Serviço:</strong> Serviço 1</p>
                    <p><strong>Tipo:</strong> Tipo 1</p>
                    <p><strong>Quantidade:</strong> 2</p>
                    <p><strong>Preço:</strong> R$ 100,00</p>
                    <button type="button" class="btn excluir" data-toggle="modal"
                        data-target="#excluirServicoModal">Excluir</button>
                    <button type="button" class="btn atualizar" data-toggle="modal"
                        data-target="#atualizarServicoModal">Atualizar</button>
                </div>

                <!-- Serviço 2 -->
                <div class="servico-adicionado grid-item">
                    <p><strong>Serviço:</strong> Serviço 2</p>
                    <p><strong>Tipo:</strong> Tipo 2</p>
                    <p><strong>Quantidade:</strong> 3</p>
                    <p><strong>Preço:</strong> R$ 150,00</p>
                    <button type="button" class="btn excluir" data-toggle="modal"
                        data-target="#excluirServicoModal">Excluir</button>
                    <button type="button" class="btn atualizar" data-toggle="modal"
                        data-target="#atualizarServicoModal">Atualizar</button>
                </div>

                <!-- Serviço 3 -->
                <div class="servico-adicionado grid-item">
                    <p><strong>Serviço:</strong> Serviço 3</p>
                    <p><strong>Tipo:</strong> Tipo 3</p>
                    <p><strong>Quantidade:</strong> 1</p>
                    <p><strong>Preço:</strong> R$ 75,00</p>
                    <button type="button" class="btn excluir" data-toggle="modal"
                        data-target="#excluirServicoModal">Excluir</button>
                    <button type="button" class="btn atualizar" data-toggle="modal"
                        data-target="#atualizarServicoModal">Atualizar</button>
                </div>
            </div>

            <!-- Campo para desconto ou acréscimo -->
            <div class="form-group">
                <label for="desconto-acrescimo">Desconto:</label>
                <input type="text" class="form-control" id="desconto-acrescimo">
                <label for="desconto-acrescimo">Acréscimo:</label>
                <input type="text" class="form-control" id="desconto-acrescimo">
            </div>
            <!-- Campo para Confirmar ou voltar -->
            <div class="form-group botao">
                <button type="button" class="btn btn-info voltar"
                    onclick="location.href='index.html';">voltar</button>
                <button type="button"
                    class="btn btn-info">Salvar</button>
            </div>
        </div>
        <script src="{{URL}}/app/resources/js/pages.js"></script>
        <!-- Scripts JavaScript -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

</html>
