<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Entrar</title>
        <link rel="stylesheet" href="css/pages.css">
        <link rel="stylesheet" href="css/login.css">

        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    </head>
    <body background="brick-wall.jpg">
        <div class="login-box">
            <h1>Login</h1>    
        
            <form method="post">
        
                <div>
                    <input type="text" class="inputUser" name="login" placeholder="Usuário" id="login" required autofocus>
                </div>
                <div>
                    <input type="password" class="inputUser" name="senha" id="senha" placeholder="Senha" required>
                </div>
                <div>
                    <input type="checkbox" id="lembrar">
                    <label for="lembrar">Lembrar de mim</label>
                </div>
                <div>
                    <button type="submit" name="submit" id="submit" >Entrar</button>
                </div>
        
            </form>
        
        </div>
        <script src="{{URL}}/app/resources/js/pages.js"></script>
       <!-- Scripts JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    
</html>
