<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="css/pages.css">
        <link rel="stylesheet" href="css/service.css">

        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a href="http://localhost/pi3/" class="navbar-brand">Projeto
                    Integrador 2024</a>
                <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item " style="width:max-content">
                            <a
                                class="nav-link nav-justified nav-divider active text-danger"
                                href="http://localhost/pi3/user">Página
                                Inicial</a>
                        </li><li class="nav-item " style="width:max-content">
                            <a
                                class="nav-link nav-justified nav-divider active "
                                href="http://localhost/pi3/user/service">Serviços</a>
                        </li><li class="nav-item " style="width:max-content">
                            <a
                                class="nav-link nav-justified nav-divider active "
                                href="http://localhost/pi3/user/client">Clientes</a>
                        </li><li class="nav-item " style="width:max-content">
                            <a
                                class="nav-link nav-justified nav-divider active "
                                href="http://localhost/pi3/user/budget">Orçamentos</a>
                        </li>
                    </ul>

                    <div class="ml-auto">
                        <a href="http://localhost/pi3/logout">
                            <button type="button" class="btn">SAIR</button>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        
        <div class="container base mt-1">
            <h2>Serviços</h2>
            <button type="button" class="btn-new-service mb-3"
                data-toggle="modal" data-target="#novoServicoModal">Novo
                Serviço</button>
            <!-- Primeiro Serviço -->
            <div class="servico-info">
                <p><strong>Serviço:</strong> Serviço 1</p>
                <p><strong>Tipo:</strong> Tipo 1</p>
                <p><strong>Quantidade:</strong> 2</p>
                <p><strong>Preço:</strong> R$ 100,00</p>
                <button type="button" class="btn-editar" data-toggle="modal"
                    data-target="#atualizarServicoModal">Atualizar</button>
                <button type="button" class="btn-excluir" data-toggle="modal"
                    data-target="#excluirServicoModal">Excluir</button>
            </div>
            <!-- Segundo Serviço -->
            <div class="servico-info">
                <p><strong>Serviço:</strong> Serviço 2</p>
                <p><strong>Tipo:</strong> Tipo 2</p>
                <p><strong>Quantidade:</strong> 1</p>
                <p><strong>Preço:</strong> R$ 50,00</p>
                <button type="button" class="btn-editar" data-toggle="modal"
                    data-target="#atualizarServicoModal">Atualizar</button>
                <button type="button" class="btn-excluir" data-toggle="modal"
                    data-target="#excluirServicoModal">Excluir</button>
            </div>
        </div>

        <!-- Modal para Novo Serviço -->
        <div class="modal fade" id="novoServicoModal" tabindex="-1"
            role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Novo
                            Serviço</h5>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulário para adicionar novo serviço -->
                        <!-- Coloque aqui os campos para adicionar um novo serviço -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Fechar</button>
                        <button type="button"
                            class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para Atualizar Serviço -->
        <div class="modal fade" id="atualizarServicoModal" tabindex="-1"
            role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Atualizar
                            Serviço</h5>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulário para atualizar serviço -->
                        <!-- Coloque aqui os campos para atualizar um serviço -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Fechar</button>
                        <button type="button"
                            class="btn btn-primary">Atualizar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para Excluir Serviço -->
        <div class="modal fade" id="excluirServicoModal" tabindex="-1"
            role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Excluir
                            Serviço</h5>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza de que deseja excluir este serviço?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Cancelar</button>
                        <button type="button"
                            class="btn btn-danger">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{URL}}/app/resources/js/pages.js"></script>
        <!-- Scripts JavaScript -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

</html>
