*{
    box-sizing: border-box !important;
}

h2 {
    color: white;
}

nav {
    border-radius: 15px;
}

.sair {
    color: white;
    background-color: rgb(51,58,64) !important;
    padding: 0px;
    border: none;
}

.sair:hover {
    color: red;
}

.budget-info {
    margin-bottom: 15px;
    background-color: hsla(0, 0%, 37%, 0.903);
    color: white;
    border-radius: 20px;
    letter-spacing: 2px;
    padding: 20px 30px 10px 30px;
    text-align: center;
}

.budget-info p {
    margin-bottom: 10px;
    /* Espaçamento entre os parágrafos */
}
.budget-info a button {
    color:white;
}

.cliente-infos {
    margin-bottom: 15px;
    background-color: hsla(0, 0%, 37%, 0.903);
    color: white;
    border-radius: 20px;
    letter-spacing: 2px;
    padding: 20px 30px 10px 30px;
}

.cliente-infos input {
    letter-spacing: 2px !important;
    font-size: auto;
    box-sizing: border-box;
    position: relative !important;
    width: 100%;
}

.cliente-infos button {
    border-radius: 8px;
}

/* Estilo para o contêiner de serviços */
.servicos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
/* Estilo para as informações de serviço */
.servico-adicionado {
    width: 95%;
    margin: 3px;
    background-color: hsla(0, 0%, 37%, 0.903);
    color: white;
    border-radius: 15px;
    letter-spacing: 2px;
    padding: 7px;
    box-sizing: border-box;
}


.info-obs {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.info-row label {
    flex: 0 0 auto; /* O tamanho do label será automático */
    margin-right: 10px; /* Espaçamento entre o label e o input */
}

.info-row input[type="text"] {
    flex: 1 1 auto; /* O input se expandirá para preencher o restante do espaço */
    width: 100px; /* Largura do input personalizada */
}

.excluir {
    background-color: #0f7987 !important;
    color: white;
}

.excluir:hover {
    background-color: #8c3f2f !important;
    cursor: pointer;
}

.form-group {
    margin: 5px !important;
    letter-spacing: 2px !important;
    font-weight: bold;
}

.form-group input {
    letter-spacing: 2px;
}

.salvar:hover {
    background-color: #0f7987;
    cursor: pointer;
}

.voltar:hover {
    background-color: #8c3f2f !important;
    cursor: pointer;
}

@media only screen and (max-width: 320px) and (orientation: portrait){
    *{
        padding: 0 !important;
        margin: 0 !important;
    }

    body {
        background-position: center;
    }

    nav {
        border-radius: 8px !important;
        margin: 12px !important;
        margin-top: 0 !important;
        padding: 12px !important;
    }

    .sair {
        padding: 0px !important;
        margin: 0px !important;
    }

    .navbar-brand {
        font-size: 17px !important;
    }

    h2 {
        font-size: 25px !important;
    }

    h4 {
        font-size: 16px !important;
    }

    .container base {
        padding: 15px !important;
        margin: 12px !important;
    }

    .cliente-infos {
        width: auto !important;
        border-radius: 8px;
        font-size: 14px !important;
        padding: 8px !important;
        margin: 12px !important;
        letter-spacing: 2px !important;
    }

    .cliente-infos input {
        letter-spacing: 2px !important;
        font-size: 13px;
        padding: 2px !important;
        border-radius: 4px !important;
        border: none !important;
    }

    .cliente-infos p {
        margin-top: 10px !important;
    }

    .cliente-infos select {
        margin-top: 15px !important;
    }

    .servico-adicionado {
        width: 100hw !important;
        border-radius: 8px;
        font-size: 13px;
        padding: 8px !important;
        margin: 12px !important;
        text-align: center;
    }

    .servico-adicionado p {
        text-align: left;
    }

    .form-group {
        margin: 12px !important;
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: bold;
    }

    .botao {
        text-align: center !important;
    }

}

@media only screen and (min-width: 321px) and (max-width: 600px) and (orientation: portrait) {
    *{
      padding: 0 !important;
      margin: 0 !important;
    }

    body {
        background-position: center;
    }

    nav {
        border-radius: 8px !important;
        margin: 12px !important;
        margin-top: 0 !important;
        padding: 12px !important;
    }

    .sair {
        padding: 0px !important;
        margin: 0px !important;
    }

    .navbar-brand {
        font-size: auto !important;
    }

    .container base {
        padding: 15px !important;
        margin: 10px !important;
    }

    h2 {
        font-size: auto !important;
    }

    h4 {
        font-size: auto !important;
    }

    .cliente-infos {
        width: 100hw !important;
        margin: 12px !important;
        border-radius: 8px !important;
        font-size: auto;
        padding: 8px !important;
    }

    .cliente-infos input {
        letter-spacing: 2px !important;
        font-size: auto;
        padding: 2px !important;
        border-radius: 4px !important;
        border: none !important;
    }

    .cliente-infos p {
        margin-top: 10px !important;
    }

    .cliente-infos select {
        margin-top: 15px !important;
    }

    .servico-adicionado {
        width: 100hw !important;
        margin: 12px !important;
        border-radius: 8px !important;
        font-size: auto;
        padding: 8px !important;
        text-align: center;
    }

    .servico-adicionado p {
        text-align: left;
    }

    .form-group {
        margin: 12px !important;
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: bold;
    }

    .botao {
        text-align: center !important;
    }

}