h2 {
    color: white;
}

.botao {
    display: flex;
    align-items: center;
}

.botao .form-group {
    width: 100%;
    /* Garantir que o campo de entrada ocupe toda a largura disponível */
    max-width: 500px;
    /* Definir uma largura máxima para o campo de entrada */
}

.botao .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.botao .btn {
    margin-right: 20px;
    /* Espaçamento entre os botões */
    font-size: 16px;
    /* Tamanho da fonte dos botões */
}

.botao .pesquisar {
    width: 130px;
}

.clientes-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    /* Layout responsivo com grid */
    gap: 20px;
    /* Espaçamento entre os itens */
}

.cliente-info {
    background-color: hsla(0, 0%, 37%, 0.903);
    color: white;
    border-radius: 15px;
    padding: 10px;
    text-align: left;
    /* Alinhar o texto à esquerda */
}

.cliente-info p {
    margin-bottom: 10px;
    /* Espaçamento entre os parágrafos */
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    /* Alinhar os botões à direita */
}

.pesquisar:hover {
    background-color: rgb(0, 160, 187) !important;
    cursor: pointer;
}
.cliente-info .novo{
    color: white;
}
.novo-cliente:hover {
    background-color: rgb(0, 160, 187) !important;
    cursor: pointer;
}

.excluir:hover {
    background-color: #8c3f2f !important;
    cursor: pointer;
}

.detalhes:hover {
    background-color: rgb(0, 160, 187) !important;
    cursor: pointer;
}

.atualizar:hover {
    background-color: rgb(0, 160, 187) !important;
    cursor: pointer;
}

.btn-icon {
    color: white;
}

.btn-text {
    color: white;
}

.modal-header {
    border-radius: 0px !important;
}



@media only screen and (max-width: 320px) and (orientation: portrait) {

    * {
        padding: 0 !important;
        margin: 0 !important;
    }

    body {
        background-position: center;
    }

    nav {
        border-radius: 8px !important;
        margin: 12px !important;
        margin-top: 0 !important;
        padding: 12px !important;
    }

    .navbar-brand {
        font-size: 17px !important;
    }

    h2 {
        font-size: 25px !important;
    }

    .container base {
        padding: 15px !important;
        margin: 10px !important;
        width: 100hw !important;
    }

    .botao {
        text-align: center !important;
    }

    .cliente-info {
        width: auto !important;
        border-radius: 8px;
        font-size: 13px;
        padding: 8px !important;
        margin: 12px !important;
        letter-spacing: 2px !important;
    }

    .cliente-info p {
        margin-top: 10px !important;
    }

}

@media only screen and (min-width: 321px) and (max-width: 600px) and (orientation: portrait) {

    * {
        padding: 0 !important;
        margin: 0 !important;
    }

    body {
        background-position: center;
    }

    nav {
        margin: 12px !important;
        margin-top: 0 !important;
        border-radius: 8px !important;
        padding: 12px !important;
    }

    .navbar-brand {
        font-size: auto !important;
    }

    .container base {
        padding: 15px !important;
        margin: 10px !important;
    }

    .cliente-info {
        margin: 12px !important;
        width: 100hw !important;
        border-radius: 8px;
        font-size: auto;
        padding: 8px !important;
        letter-spacing: 2px !important;
    }

    .cliente-info p {
        margin: 10px !important;
    }

    .botao {
        text-align: center !important;
    }

}