.tbl_budget_closed,
.tbl_budget_opened {
  background-color: hsla(0, 0%, 37%, 0.903);
  color: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  overflow-x: auto; /* Adicionando scroll horizontal quando necessário */
}

.tbl_budget_opened table,
.tbl_budget_closed table {
  width: 100%;
  border-collapse: collapse;
}

.tbl_budget_opened th,
.tbl_budget_closed th,
.tbl_budget_opened td,
.tbl_budget_closed td {
  padding: 12px;
  text-align: center;
  color: white;
}

.tbl_budget_opened th,
.tbl_budget_closed th {
  background-color: #333;
}

.tbl_budget_closed th:nth-child(1)
.tbl_budget_opened th:nth-child(1) {
  width: 30%; /* Definir largura para a primeira coluna (Nome Cliente) */
}

.tbl_budget_closed th:nth-child(2),
.tbl_budget_opened th:nth-child(2) {
  width: 15%; /* Definir largura para a segunda coluna (Valor) */
}

.tbl_budget_closed th:nth-child(3),
.tbl_budget_opened th:nth-child(3) {
  width: 18%; /* Definir largura para a terceira coluna (Data de Início) */
}

.tbl_budget_closed th:nth-child(4),
.tbl_budget_opened th:nth-child(4) {
  width: 37%; /* Definir largura para a quarta coluna (Ações) */
}


.tbl_budget_opened tr:nth-child(even),
.tbl_budget_closed tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

.tbl_budget_opened tr:hover,
.tbl_budget_closed tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

h2 {
  color: white;
}

.btn-container {
  text-align: right; /* Alinhar os botões à direita */
}

.detalhes:hover {
  background-color: rgb(0, 160, 187) !important;
  cursor: pointer;
}

.atualizar:hover {
  background-color: rgb(0, 160, 187) !important;
  cursor: pointer;
}

.excluir:hover {
  background-color: #8c3f2f !important;
  cursor: pointer;
}

.btn-icon{
  color: white;
}

.btn-text{
  color: white;
}

@media (max-width: 1200px) {
  .tbl_budget_opened th,
  .tbl_budget_opened td {
      font-size: 14px; /* Reduzir o tamanho da fonte em telas menores */
  }

  .btn-container {
    text-align: center; /* Centralizar os botões quando a tela for menor que 768px */
  }

  .btn {
    display: block;
    width: 100%; /* Botões ocupam largura total */
    margin-bottom: 10px; /* Espaçamento entre os botões */
  }
}
